
    
    <!-- PAGE TITLE =============================================== -->
    <div class="page-header">
        <h2>Laravel and Angular Single Page Application</h2>
        <h4>ToDo Auth System</h4>
    </div>
    
        <form>
            <div class="form-group">
                <div class="has-error" ng-show="invalidCredidentials">
                    <span class="help-block">
                        <strong>{{ invalidError }}</strong>
                    </span>
                </div>

                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="email" required>

                <div class="has-error" ng-show="emailNotValid">
                    <span class="help-block">
                        <strong>{{ mailError }}</strong>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input required type="password" class="form-control" placeholder="Password" name="password" ng-model="password">

                <div class="has-error" ng-show="passwordRequired">
                    <span class="help-block">
                        <strong>{{ passwordError }}</strong>
                    </span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="login(email, password)">Submit</button>
        </form>

