<head>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="http://d3dhju7igb20wy.cloudfront.net/assets/0-4-0/all-the-things.css" />
    <style>
        .chat-app {
            margin: 50px;
            padding-top: 10px;
        }

        .chat-app .message:first-child {
            margin-top: 15px;
        }

        #messages {
            height: 300px;
            overflow: auto;
            padding-top: 5px;
        }
    </style>

    <script>
        // Added Pusher logging
        Pusher.log = function(msg) {
            console.log(msg);
        };
    </script>
</head>
<div class="stripe no-padding-bottom numbered-stripe">
    <div class="fixed wrapper">
        <ol class="strong" start="2">
            <li>
                <div class="hexagon"></div>
                <h2><b>Real-Time Chat</b> <small>Fundamental real-time communication.</small> Hello, {{ currentUser.name }}</h2>
            </li>
        </ol>
    </div>
</div>

<section class="blue-gradient-background">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row light-grey-blue-background">
                    <ul>
                        <div ng-repeat="user in users">
                            <li>
                                <p ng-click="showConversation(user.id)">{{ user.name }} 
                                    <span class="badge">{{ user.newMessage }}</span>
                                </p>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row light-grey-blue-background chat-app">

                    <div id="messages">
                        <div class="time-divide">
                            <span class="date">Today</span>
                        </div>

                        <div ng-repeat="message in messagesBetween">     
                            <div class="message">
                                <div class="avatar">
                                    <img src="">
                                </div>
                                <div class="text-display">
                                    <div class="message-data">
                                        <span class="author">{{ message.sender.name }}</span>
                                        <span class="timestamp">{{ message.created_at }}</span>
                                        <span class="seen"></span>
                                    </div>
                                    <p class="message-body">{{ message.message.text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="action-bar">
                        <textarea class="input-message col-xs-10" ng-model="messageText" placeholder="Your message"></textarea>
                        <div class="option col-xs-1 white-background">
                            <span class="fa fa-smile-o light-grey"></span>
                        </div>
                        <div ng-click="postMessage()" class="option col-xs-1 green-background send-message" id="mySendBtn">
                            <span class="white light fa fa-paper-plane-o"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="chatChannelId" value="{{ usedChannel }}">
</section>

<script id="chat_message_template" type="text/template">
    <div class="message">
        <div class="avatar">
            <img src="">
        </div>
        <div class="text-display">
            <div class="message-data">
                <span class="author"></span>
                <span class="timestamp"></span>
                <span class="seen"></span>
            </div>
            <p class="message-body"></p>
        </div>
    </div>
</script>

<script>
    // Handle the success callback
    function sendMessageSuccess() {
        $('.input-message').val('')
        console.log('message sent successfully');
    }

    // Build the UI for a new message and add to the DOM
    function addMessage(data) {
        // Create element from template and set values
        var el = createMessageEl();
        el.find('.message-body').html(data.text);
        el.find('.author').text(data.username);
        el.find('.avatar').attr(data.avatar)
        
        // Utility to build nicely formatted time
        el.find('.timestamp').text(strftime('%H:%M:%S %P', new Date(data.timestamp)));
        
        var messages = $('#messages');
        messages.append(el)
        
        // Make sure the incoming message is shown
        messages.scrollTop(messages[0].scrollHeight);
    }

    // Empty recevied messages fetched from pusher!!
    function clearMessages(){
        $('.message').remove();

        console.log("deleting!");
    }

    // Creates an activity element from the template
    function createMessageEl() {
        var text = $('#chat_message_template').text();
        var el = $(text);
        return el;
    }

    /***********************************************/

</script>
