<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
        type="image/vnd.microsoft.icon">

    <title>Pizza administration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> <!-- load bootstrap via cdn -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
    <script type="text/javascript" src="../node_modules/satellizer/satellizer.min.js"></script>

    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/controllers/userController.js"></script>
</head>

<body ng-app="wp-angular-starter">
	<nav class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#"></a>
			</div>
			<ul class="nav nav-pills" ng-controller="">
				<li ng-class="{{ 'active': getClass('/customers') }}">
					Customers
				</li>
				<li ng-class="{{ 'active': getClass('/orders') }}">
					Orders
				</li>
			</ul>
		</div>
	</nav>
</body>
</html>
