<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
        type="image/vnd.microsoft.icon">

    <title>Pizza administration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> <!-- load bootstrap via cdn -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:30px; }
        form        { padding-bottom:20px; }
        .comment    { padding-bottom:20px; }
    </style>

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
    <script type="text/javascript" src="../node_modules/satellizer/satellizer.min.js"></script>

    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/controllers/newContr.js"></script>

    <!-- SERVICE -->
    <script type="text/javascript" src="../app/services/commentService.js"></script>
</head>

<body ng-app="wp-angular-starter">
<div ng-controller="newController1">

    <!--  -->
        <div ng-controller="testController1">
            <!-- <input type="text" ng-model="city" placeholder="Enter a city" /> -->
            <div ng-sparkline ng-model="SanFrancisco" data="weathers[0]"></div>

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[1]"></div> -->

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[2]"></div> -->
        </div>

        <div ng-controller="testController1">
            <!-- <input type="text" ng-model="city" placeholder="Enter a city" /> -->
            <div ng-sparkline ng-model="SanFrancisco" data="weathers[0]"></div>

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[1]"></div> -->

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[2]"></div> -->
        </div>

        <div ng-controller="testController1">
            <!-- <input type="text" ng-model="city" placeholder="Enter a city" /> -->
            <div ng-sparkline ng-model="SanFrancisco" data="weathers[0]"></div>

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[1]"></div> -->

            <!-- <div ng-sparkline ng-model="SanFrancisco" data="weathers[2]"></div> -->
        </div>
    <!--  -->
    
    <!-- PAGE TITLE =============================================== -->
    <div class="page-header">
        <h2>Laravel and Angular Single Page Application</h2>
        <h4>ToDo System</h4>
    </div>
    
    <!-- NEW COMMENT FORM =============================================== -->
    <!-- <form ng-submit="addToDo()"> --> <!-- ng-submit will disable the default form action and use our function -->
    
        <!-- COMMENT TEXT -->
        <div class="form-group">
            <input type="text" class="form-control input-lg" ng-model="toDoText" placeholder="Say what you have to say">

            <div class="has-error" ng-show="hasError">
                <span class="help-block">
                    <strong>{{ toDoError }}</strong>
                </span>
            </div>
        </div>
    
        <!-- SUBMIT BUTTON -->
        <div class="form-group text-right">   
            <button type="button" ng-click="createToDo(toDoText)" class="btn btn-primary btn-lg">Submit</button>
        </div>
    <!-- </form> -->

    
    <!-- LOADING ICON =============================================== -->
    <!-- show loading icon if the loading variable is set to true -->
    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
    
    <!-- THE COMMENTS =============================================== -->
    <!-- hide these comments if the loading variable is true -->
    <div class="comment" ng-repeat="comment in todos">
        <h3>Comment #{{ comment.id }} </h3>
        <p>{{ comment.text }}</p>
    
        <p><a href="#" ng-click="deleteToDo(comment.id)" class="text-muted">Delete</a></p>
        
        <p><a href="/#/showToDo/{{ comment.id }}" class="text-muted">Show Details</a></p>
        <!-- <input type="submit" value="Delete pizza" ng-click="getToDoById(1)" /> -->
    </div>

</div>
</body>
</html>
