<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
		type="image/vnd.microsoft.icon">

	<title>Pizza order</title>

	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
	<script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/controllers/pizzaOrder.js"></script>
</head>

<body ng-app="wp-angular-starter">
<div ng-controller="pizzaOrderController">
	<a href="../index.html">Back to index!</a>

	<h3>Create new order</h3>
	
	<label for="clientName">Name:</label>
	<br />
	<input type="text" id="clientName" name="clientName" ng-model="clientName"/>

	<br />

	<label for="clientAddress">Address</label>
	<br />
	<input type="text" id="clientAddress" name="clientAddress" ng-model="clientAddress"/>
	
	<br />
	<br />
	<label>Choose pizza type:</label>
	<br />
	<span ng-repeat="pizza in allPizzas">
		<input type="radio" name="pizzaType" ng-model="$parent.pizzaType" ng-value="{{pizza.id}}" />{{pizza.type}}
		<br />
	</span>

	<br />
	<input type="submit" value="Submit" ng-click="createOrder(pizzaType, clientName, clientAddress)" />
</div>
</body>
</html>
