<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
		type="image/vnd.microsoft.icon">

	<title>Order administration</title>

	<link href="../css/main.css" rel="stylesheet">
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
	<!--<script type="text/javascript" src="../bower_components/angular-smart-table/src/smart-table.module.js"></script>-->
	<script type="text/javascript" src="../bower_components/angular-smart-table/index.js"></script>
	<!--<script type="text/javascript" src="../bower_components/angular-smart-table/src/stConfig.js"></script>-->
	<script type="text/javascript" src="../bower_components/angular-smart-table/src/stPagination.js"></script>
	<!--<script type="text/javascript" src="../bower_components/angular-smart-table/src/stPipe.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/src/stSearch.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/src/stSelectRow.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/src/stSort.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/src/stTable.js"></script>-->
	<script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/controllers/orderAdmin.js"></script>
</head>

<body ng-app="wp-angular-starter">
<div ng-controller="orderAdminController">
	<a href="../index.html">Back to index!</a>

	<h3>Order administration</h3>
	
	<table border="1" st-table="allOrders" st-table="displayCollection" st-set-filter="ordersFilter" class="table table-striped">
		<thead>
			<tr>
				<th>Client name</th>
				<th>Client address</th>
				<th st-sort="pizzaType">Pizza type</th>
			</tr>
			<tr>
				<th>
					
				</th>
				<th>
					<input st-search="clientAddress" placeholder="Search for address" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<select st-search="pizzaType">
						<option value="">All</option>
						<option ng-repeat="row in allOrders | unique:'pizzaType'" value="{{row.pizzaType}}">{{row.pizzaType}}</option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in allOrders">
				<td>
					{{row.clientName}}
				</td>
				<td>
					{{row.clientAddress}}
				</td>
				<td>
					{{row.pizzaType}}
				</td>
			</tr>
		</tbodY>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
</body>
</html>
