<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
		type="image/vnd.microsoft.icon">

	<title>Pizza administration</title>

	<link href="../css/main.css" rel="stylesheet">
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
	<script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<script type="text/javascript" src="../app/controllers/pizzaAdmin.js"></script>
</head>

<body ng-app="wp-angular-starter">
<div ng-controller="pizzaAdminController">
	<a href="../index.html">Back to index!</a>

	<h3>All pizzas</h3>
	
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pizza in allPizzas">
				<td>{{pizza.id}}</td>
				<td>{{pizza.type}}</td>
			</tr>
		</tbody>
	</table>
	
	<br />
	
	<label for="pizzaID">Pizza ID:</label>
	<br />
	<input type="number" id="pizzaID" name="pizzaID" ng-model="pizzaID"/>
	<br />
	<label for="pizzaType">Pizza type:</label>
	<br />
	<input type="text" id="pizzaType" name="pizzaType" ng-model="pizzaType"/>
	<br />
	<br />
	<input type="submit" value="Add new pizza" ng-click="addPizza(pizzaType)" />
	<input type="submit" value="Update pizza" ng-click="updatePizza(pizzaID, pizzaType)" />
	<input type="submit" value="Delete pizza" ng-click="deletePizza(pizzaID)" />
</div>
</body>
</html>
