<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16 32x32 48x48 64x64"
        type="image/vnd.microsoft.icon">

    <title>Pizza administration</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"> <!-- load bootstrap via cdn -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script type="text/javascript" src="../bower_components/ngQuickDate/dist/ng-quick-date.min.js"></script>
    <script type="text/javascript" src="../node_modules/satellizer/satellizer.min.js"></script>

    <script type="text/javascript" src="../app/app.js"></script>
    <script type="text/javascript" src="../app/controllers/userController.js"></script>
</head>

<body ng-app="wp-angular-starter">
<div ng-controller="UserController">
    
    <!-- PAGE TITLE =============================================== -->
    <div class="page-header">
        <h2>Laravel and Angular Single Page Application</h2>
        <h4>ToDo Auth System</h4>
    </div>
    
        <div class="col-sm-6 col-sm-offset-3">
			<div class="well">
                <h5 ng-if="authenticated">Welcome, {{currentUser.name}}</h5>
				<h3>Users</h3>
				<button class="btn btn-primary" style="margin-bottom: 10px" ng-click="getUsers()">Get Users!</button>

                <div ng-controller="AuthController">
                    <button class="btn btn-danger" style="margin-bottom: 10px" ng-click="logout()">LogOut</button>    
                </div>
                
				<ul class="list-group" ng-if="users">
					<li class="list-group-item" ng-repeat="user in users">
						<h4>{{user.name}}</h4>
						<h5>{{user.email}}</h5>
					</li>
				</ul>
				<div class="alert alert-danger" ng-if="error">
					<strong>There was an error: </strong> {{error.error}}
					<br>Please go back and login again
				</div>
			</div>
		</div>

</div>
</body>
</html>
