.chat-app {
    margin: 50px;
    padding-top: 10px;
}

.chat-app .message:first-child {
    margin-top: 15px;
}

#messages {
    height: 300px;
    overflow: auto;
    padding-top: 5px;
}

.user-list {
	cursor: pointer;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #eb0752 !important;
    background-color: transparent !important;
}

 .container {
 		
 }

 .chat-class {
 	width: 750px !important;
 }

 .online-class {
 	height: 11px;
 }